body {
    /* background: rgb(62, 147, 226); */
    background: black;
}

.container {
    /* border: 3px solid black; */
    text-align: center;
}

#carInfo {
    /* border: 3px solid white; */
    float: left;
    width: 100%;
    color: white;
    font-size: 30px;

}

#Car-Search {
    color: white;
    
}
.car {
    background: white;
    text-align: center;
    -moz-box-shadow:inset 0px 2px 11px 0px #f29c93;
	-webkit-box-shadow:inset 0px 2px 11px 0px #f29c93;
	box-shadow:inset 0px 2px 11px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
	border:7px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:21px 75px;
	text-decoration:none;
	text-shadow:1px 2px 0px #b23e35;
}